<ng-container *ngIf="$board | async as board">
  <h1>{{ board.title }}</h1>
  <button (click)="randomLoading()">Random loading Toggle</button>
  <ng-container *ngFor="let cmp of board.components;let idx= index">
    <news *ngIf="cmp!= null && cmp.componentType === 'NewsComponent'" [cmp]="cmp" (deleteEvt)=delete(idx) [appLoading]="loadingList[idx]||false"></news>
    <cpu *ngIf="cmp!= null && cmp.componentType === 'CPUComponent'" [cmp]="cmp" (deleteEvt)=delete(idx) [appLoading]="loadingList[idx]||false"></cpu>
    <trend *ngIf="cmp!= null && cmp.componentType === 'TrendComponent'" [cmp]="cmp" (deleteEvt)=delete(idx) [appLoading]="loadingList[idx]||false"></trend>
  </ng-container>
</ng-container>
