<mat-card *ngIf="cmp | isCpuCmp as cpuCmp">
  <mat-card-title-group>
    <mat-card-title>{{ cpuCmp.name }}</mat-card-title>
    <mat-card-subtitle>{{ cpuCmp.type }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    {{ cpuCmp.description }}
    <mat-nav-list>
      <mat-list-item *ngFor="let property of cpuCmp.properties">
        <a matLine>{{ property.order }}</a>
        <a matline>{{ property.value }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
  <button (click)="delete()">Delete me</button>
</mat-card>
